<h3>Your Products</h3>
<div class="row card-groups">
    <div *ngFor="let value of arrayCars | paginate: { itemsPerPage: 12, currentPage: page ,totalItems:totalLen}" class="col-3 card" style="padding: 5px;border: 0px;">
        <div style="border: 2px;background-color: burlywood;">
            <img [src]=value.imageUrl alt="your Photo" class="card-image-top " style="width: 100%;height:200px;">
        
            <div class="card-body">
                <ul>
                    <li>Price:{{value.price}}</li>
                    <li>Brand:{{value.productBrand }}</li>
                    <li>Model:{{value.productSeries}}</li>
                     
                </ul>                 
            
            </div>
         
        </div>
        
    </div>
</div>
<pagination-controls (pageChange)="page= $event"></pagination-controls>
