
<div class="container">
    
    <h3>Your Cart Items</h3>
    <div *ngIf="cartArrayObj.length;else other_content">
    <div class="row card-groups">
        <div *ngFor="let value of cartArrayObj | paginate: { itemsPerPage: 12, currentPage: page ,totalItems:totalLen}" class="col-3 card" style="padding: 5px;border: 0px;">
            <div style="border: 2px;background-color: burlywood;">
                <img [src]=value.imageUrl alt="your Photo" class="card-image-top " style="width: 100%;height:200px;">
       
            <div class="card-body">
              <ul>
                  <li>Price:{{value.price}}</li>
                  <li>Brand:{{value.productBrand }}</li>
                  <li>Model:{{value.productSeries}}</li>
                  <a routerLink="product" (click)="productDetails(value)">View Product</a>
              </ul>             
      
               
          
          
      </div>
             
            </div>
            
        </div>
      </div>
      <pagination-controls (pageChange)="page= $event"></pagination-controls>
    </div>
    <ng-template #other_content>
        <p>No items in the cart</p>
    </ng-template>
</div>
